<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="b-project-list">
    <h2>Paises</h2>
    <div style="padding-bottom: .3rem;">
      <p-dataTable [value]="lista" dataKey="codigoPais" selectionMode="single" [(selection)]="actual" (onRowSelect)="onRowSelect($event)"
        editable="!enEdicion()" [style]="{'width': '800px'}" emptyMessage="No se ha encontrado ningún registro">
        <p-column field="codigoPais" header="Código" [style]="{'width': '150px'}"></p-column>
        <p-column field="nombre" header="Nombre"></p-column>
        <p-footer>{{getMsgRecords()}}</p-footer>
      </p-dataTable>
    </div>
    <p-confirmDialog acceptLabel="Sí" rejectLabel="No" width="425"></p-confirmDialog>
    <button pButton type="button" label="Nuevo" (click)="onCreate()" icon="fa-plus"></button>
    <button pButton type="button" label="Modificar" (click)="onUpdate()" icon="fa-pencil" [disabled]="!estadoSeleccionado()"></button>
    <button pButton type="button" label="Eliminar" (click)="onDelete(actual.codigoPais)" icon="fa-trash" [disabled]="!estadoSeleccionado()"></button>
    <button pButton type="button" label="Ver Detalle" (click)="onDetail()" icon="fa-search" [disabled]="!estadoSeleccionado()"></button>
  </div>

  <p-dialog header="País" [visible]="enEdicion()" modal="true">
    <table *ngIf="actual">
      <tr>
        <th style="width: 80px;"><label for="intCodigo">Código</label>: </th>
        <td style="width: 420px;"><input type="text" id="intCodigo" pInputText [(ngModel)]="actual.codigoPais" style="width: 80px;" [disabled]="!estadoNuevo()"
            required></td>
      </tr>
      <tr>
        <th><label for="intNombre">Nombre</label>: </th>
        <td><input type="text" id="intNombre" pInputText [(ngModel)]="actual.nombre" style="width: 400px;" [disabled]="estadoSoloLectura()"
            required></td>
      </tr>
    </table>

    <table style="width: 100%">
      <tr>
        <td align="center">
          <button pButton type="submit" (click)="onSave()" label="Guardar" class="ui-button-success"></button>
          <button pButton type="button" (click)="onCancel()" label="Cancelar" class="ui-button-danger"></button>
        </td>
      </tr>
    </table>
  </p-dialog>

</ng-template>