<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
<p-growl [(value)]="msgs"></p-growl>
  <div class="b-project-list">
    <h2>Paises</h2>
    <p-dataTable [value]="paises" dataKey="codigoPais" selectionMode="single" [(selection)]="pais" (onRowSelect)="onRowSelect($event)"
      [style]="{'width': '800px'}">
      <p-column field="codigoPais" header="Código" [style]="{'width': '150px'}"></p-column>
      <p-column field="nombre" header="Nombre"></p-column>
    </p-dataTable>
    <button pButton type="button" label="Nuevo" (click)="onCreatePais()" icon="fa-plus"></button>
    <button pButton type="button" label="Modificar" (click)="onUpdatePais()" icon="fa-pencil" [disabled]="!estadoSeleccionado()"></button>
    <button pButton type="button" label="Eliminar" (click)="onCreatePais()" icon="fa-trash" [disabled]="!estadoSeleccionado()"></button>
    <button pButton type="button" label="Ver Detalle" (click)="onCreatePais()" icon="fa-search" [disabled]="!estadoSeleccionado()"></button>
  </div>

</ng-template>