<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <div class="b-project-list">
    <h2>Paises</h2>
    <p-dataTable [value]="paises" [style]="{'width': '800px'}">
      <p-column field="codigoPais" header="Código" [style]="{'width': '150px'}"></p-column>
      <p-column field="nombre" header="Nombre"></p-column>
    </p-dataTable>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-2 col-md-offset-10 margin-top-sm">
      <div class="b-btn-new-project overflow-hidden">
        <button class="btn btn-primary pull-right">
          Nuevo Proyecto
        </button>
      </div>
    </div>
  </div>

</ng-template>